<div class="row" style="margin-top: 7%" xmlns:background="http://www.w3.org/1999/xhtml"
     xmlns:border="http://www.w3.org/1999/xhtml">
    <div class="col-sm-3" >
      <%=image_tag @user.profile_img, class: 'img img-circle', style: 'border-radius:50%; width: 180px; height: 180px'%>
    </div>
    <div class="col-sm-9">
      <br>
      <div class="row" style="text-align: center">
        <h1><strong><%=@user.name%></strong></h1>&nbsp;&nbsp;&nbsp;
        <%if current_user == @user%>
          <%= link_to '프로필 편집', edit_user_url(@user), {class: "btn btn-primary profile-edit"} %>
        <% else %>
            <%= link_to follow_user_path(@user), method: :put, remote: true do %>
                <% if current_user.following?(@user) %>
                    <button class = "btn btn-deafult" style="background:white;border:solid 1px #dbdbdb;"> 팔로잉</button>
                <% else %>
                    <button class="btn btn-primary">팔로우</button>
                <% end %>
            <% end %>
        <% end %>

      </div>
      <div class="row" style="margin-top: 5%">

        <div class="col-xs-2 font_size">
          게시물 <%= @user.posts.size %>
        </div> &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-xs-2 font_size">
           팔로우 0
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-xs-2 font_size">
           팔로워 0
        </div>

      </div>

    </div>
  </div>



<!--
profile body
-->
<br>

<div class="row" style="margin-top: 5%">

      <% @posts.each do |post| %>
        <%= link_to post_path(post), class: "col-lg-4 col-md-4 col-sm-4 col-xs-4" do %>
          <%=image_tag post.img_path, style: 'width:100%;height:auto' %>
        <% end %>
      <% end %>

</div>