<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br/>
    <%= form.text_field :email, class: 'form-control', placeholder: 'E-mail' %>
  </div>

    <div class="field">
      <br/>
      <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>

  <div class="field">
    <br/>
    <%= form.password_field :password, class: 'form-control', placeholder: 'Password' %>
  </div>

    <% if action_name == 'edit' %>
        <div class="field">
        <br/>
        <%= form.file_field :profile_img, class: 'form-control', placeholder: 'Profile picture' %>
        </div>
    <% end %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary signup-submit' %>
  </div>
<br/>
    <div class="signup-text">
      가입을 하게 되면 JUNA를 좋아하는 겁니다.
    </div>

<% end %>
