
<!DOCTYPE html>
<html>
<head>
  <title>Snusta</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<%= render 'layouts/header' %>

<div>
  <p id="notice"><%= flash[:notice] %></p>
  <p id="alert"><%= flash[:alert] %></p>
</div>

<%= yield %>
</body>
</html>